name: Convert Py to Jupyter Notebook

on:
  push:
    branches:
      - main
  workflow_dispatch: # 수동 실행 버튼 추가

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install nbformat

    - name: Run Conversion Script
      run: |
        python convert.py

    - name: Commit and push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        
        git add .
        
        # 변경사항이 있는지 확인하고 푸시
        if git diff --quiet && git diff --staged --quiet; then
          echo "No changes to the notebook files."
        else
          git commit -m "Update Notebook: Append new solution"
          git pull --rebase origin main
          git push origin main
        fi
