name: Convert Py to Jupyter Notebook

on:
  push:
    paths:
      - '**.py'  # .py 파일이 푸시될 때만 실행

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 레포지토리에 쓸 권한 부여

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 2 # 변경 사항을 감지하기 위해 히스토리 가져오기

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run conversion script
      run: |
        # 최근 커밋에서 변경된 .py 파일 목록 추출
        CHANGED_FILES=$(git diff --name-only HEAD~1 HEAD | grep '\.py$' || true)
        
        if [ -z "$CHANGED_FILES" ]; then
          echo "No .py files changed."
        else
          echo "Processing files: $CHANGED_FILES"
          # 변경된 파일 목록을 스크립트에 전달
          python convert.py $CHANGED_FILES
        fi

    - name: Commit and push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add .
        # 변경사항이 있을 때만 커밋
        git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-convert to Notebook via GitHub Action" && git push)
